
.heyThere{
    
    background-color:white;
    height: 50vh;
    text-align: center;   
    font-family: 'Overpass Mono', monospace;
    
   
  
}

h1 {
    font-size: 55px;
    display: inline-block;
    margin-top: 70px;
    
}

.navBar {
  
    background-color:white;
    font-family: 'Overpass Mono', monospace;
    letter-spacing: 2px;
    
   
}
.aboutMe{
   font-family: 'Comfortaa', cursive;
    background-color:#F97F51;
    background-repeat: repeat-y;
    letter-spacing: 2px;    
    text-align: justify;
    margin-top: 5px;
    
  background-size: cover;
  
    
 }

 .img-responsive {

    height: 300px;
    width: 300px;
    margin-left: 50px;
    margin-top: 5px;

 } 

 footer {
     text-align: right;
     margin-top: 40px;
     background-color:#F97F51;
     margin-bottom: 5px;
 }
  
 i {
    font-size: 35px;
    color: rgb(0, 68, 255);
    letter-spacing: 15px;
   
 }