.navBar {
  
    background-color:white;
    font-family: 'Overpass Mono', monospace;
    letter-spacing: 2px;
    justify-content: space-around
    
   
}


.heyThere{
    
    background-color:white;
    height: 50vh;
    text-align: center;   
    font-family: 'Overpass Mono', monospace;    
  
}



h1 {
    font-size: 55px;
    display: inline-block;
    margin-top: 60px;   
    font-family: 'Overpass Mono', monospace;  
}

h2 , label{
    font-family: 'Overpass Mono', monospace;  

}

p {
    font-family:'Comfortaa', cursive;
}

.aboutMe{
    font-family: 'Comfortaa', cursive;
    background-color:#F97F51;
   /* padding: 50px; */
    letter-spacing: 1.5px;    
    text-align: justify;
    margin-top: 5px;   
    
    
    

}

.projecth1 {
    background-color: #F97F51;
    padding: 10px;;
} 
.projectDiv {

   
    font-family: 'Comfortaa', cursive;    
    border-style: solid;
    border-width: 2px;
    border-bottom: 0;
    letter-spacing: 1.5px;  
}


 .pleasantlyRow , .weatherRow, .passdwordRow, .projectsRow {
    
    padding-bottom: 50px;    
 }

 .myPic {

    height: 300px;
    width: 300px;     
   
     margin-top: 5px; 
    
    

 } 
 .projectDescription{

    text-align: justify;
    letter-spacing: 2px; 
 }

 .projectImg{
    /* height: 400px; */
    width: 100%;
    /* width: 500px;  */
    height: auto;
    box-shadow:5px 5px 20px 5px  grey;  
    border-radius: 5px;
    
 }

 .contactDiv {

    margin-bottom: 10x;
    align-content: center;
        
 }


 footer {
     text-align: right;     
     background-color:white;
     padding:10px;
     
     
 }
  .contactFooter {
    position: fixed;
    width: 100%;
    text-align: right;     
     background-color:#F97F51;
     padding:10px;
     bottom: 0;    
  }  
.contactIcons{
    color: black;

}
  
  button {
    background-color: #F97F51;
    border: none;
    color: black;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family: 'Overpass Mono', monospace; 
    border-radius: 10px;
    letter-spacing: 1px; 
    box-shadow: 0 12px 16px
  }

 

  button:hover {
      
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24)
  }
 i {
    font-size: 35px;
    color: rgb(0, 68, 255);
    letter-spacing: 15px;
   
 }

 @media screen and (max-width: 768px) { 

    .myPic {

    
        height: auto;
        width: 100%;
        
    
     } 

     .iconContactDiv {
         display: none;
     }

    .projectImg{

        width: 100%;
  height: auto;
    }

 h2{

    text-align: center;
 }
  

}


   /* Small devices (landscape phones, 576px and up) */
 @media screen and (max-width: 576px) { 

    h1{
        font-size: 45px;
        margin-top: 5px; 
        margin-bottom: 15px;;
  }
}