body{
    height: 100vh;
    background-color: rgb(48, 48, 48);
    color: white;
}


.navBar {
  
  
    background-color:white;
    font-family:'Monoton', cursive;
    letter-spacing: 0.5px;
    justify-content: space-around;
    font-size: 20px;
    
   
}

.nav-link{
    color: #063b00 !important;
}

.heyThere{
    
    background-color:white;
    height:40vh; 
    color: black;
 
 
  
}

.intro{
    font-family:'Monoton', cursive;
    letter-spacing: 0.5px;
    
    font-size: 57px;
    display: inline-block;
    margin-top: 60px;   
  

}
.projects{
    font-family:'Monoton', cursive;

}
 .projectName{
     font-size: 30px;
     letter-spacing: 0;

    font-family: 'Montserrat', sans-serif;

 }


.contactPageDiv{
    margin-top: 50px;
    box-shadow: 4px 0px 15px 1px rgba(12, 0, 0, 0.8);
    border-radius: 20px;


}
 .aboutME {
     margin-top: 30px;
         padding: 25px;

 }
.aboutME {
    line-height: 35px;

    box-shadow: 4px 0px 15px 1px rgba(12, 0, 0, 0.8);
    
    border-radius: 25px;
}
p.aboutME{
    font-size: 18px;
    letter-spacing: 0.5px;
    font-weight: lighter;
}



.aboutmeHead{
    font-family: 'Monoton', cursive;

}


 .bigContainerColored{

    padding: 20px;
} 


.projectsCol {
   
    scroll-behavior: smooth;
    text-align: right;    
 
   
  }
 


.indexH3{
    font-family: 'Montserrat', sans-serif;
    font-weight:200;
    

}


.fa-thumbtack{
    color:gray;
    font-size: 10px;
   
}
.projectDiv {

   
    font-family: 'Monoton', cursive;   
    border-style: solid;
    border-width: 2px;    
      
}


 .pleasantlyRow , .weatherRow, .passdwordRow, .posysCol, .projectsRow, .burgerRow{
    
    padding-bottom: 50px;    
 }

 .myPic {
 height: 300px;
    width: 300px;
   overflow: hidden;
   
   
     margin-top: 5px; 
    
    

 } 
 .projectDescription{

    text-align: justify;
    letter-spacing: 0.5px; 
 }

 .projectImg{
 
    width: 60%;    
    height: auto;
    box-shadow:5px 5px 20px 5px  rgb(0, 0, 0.7);  
    border-radius: 20px;
    
 }
.projectImg:hover{


    box-shadow: 0 12px 16px 0 rgba(128, 123, 123, 0.8)

}
 .home:hover, .project:hover, .contact:hover{
     
    box-shadow: 0 12px 16px 0 rgba(128, 123, 123, 0.8);
    border-radius: 50px;


 }

.contactHead{
    padding: 20px;
    margin-top: 5px;
    font-family: 'Monoton', cursive;   
    letter-spacing: 0.5px;
}
/* .github{
    font-family: 'Monoton', cursive;   
    box-shadow: 0 12px 16px 0 rgba(128, 123, 123, 0.8);
} */


 .contactDiv {

    margin-bottom: 10x;
    align-content: center;
        
 }


 .landPageFooter {
     text-align: right;     
     background-color:white;
     padding:10px;
     position: fixed;  
     width: 100%;
     margin-top: 10px;
     
     
 }



  .contactFooter {
    position: fixed;
    width: 100%;
    text-align: right;     
     background-color:white;
     padding:10px;
     bottom: 0;    
  }  

  .projectFooter{
   
    width: 100%;
    text-align: right;     
  
     padding:10px;
     bottom: 0; 

  }


.contactIcons{
    color: rgb(240, 230, 230);
    font-size: 20px;
   margin-bottom: 15px;
    font-weight: lighter;

}
.myPic{

    display: block;
 
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  /* border: px  #eee; */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.7);  

    
       
   
}
.fa-linkedin-in, .fa-github{
    margin: 0;
   color: #063b00 !important
}

.contactParagraph{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.5px;
    font-weight: lighter;
    font-size: 18px;
    text-align: center;
    margin-top: 15px;
}
p.contactParagraph {
font-size: 18px;
    letter-spacing: 0.5px;
    font-weight: lighter;
}

.email, .location{
color: white;
font-size: 20px;
font-family: 'Montserrat', sans-serif;
font-weight: lighter;

}  
.emailIcon{
    color: white !important;
    font-size: 20px;

}



.resumeBttn {
    background-color:#353635 ;
    border: none;
    color: white;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 2px 1px 0 rgb(82, 81, 81);
    border-radius: 20px;
    margin-bottom: 5px;
 
   
  }

 

  .resumeBttn:hover {
      
    box-shadow: 0px 5px 5px 0 rgba(8, 8, 8, 0.6);
  }
 i {
    font-size: 35px;
    color: rgb(0, 68, 255);
    letter-spacing: 15px;
   
 }

 @media screen and (max-width: 768px) { 

    .ulFlex {
        display: flex;
  flex-direction: row; 
  margin: auto;
  text-align: justify;
  letter-spacing: 5px;

  
      }

      
     
   
 
    h3 {
        text-align: left;
    }

    .myPic {    
        height: auto;
        width: 100%;
        
    
     } 

     /* .iconContactDiv {
         margin: top;
        align-content: center;
        padding: 20px;
     } */

    .projectImg{

        width: 100%;
  height: auto;
    }

    .indexH3{


     font-size: 20px; 
    text-align: justify;
   
 }
  

}


   /* Small devices (landscape phones, 576px and up) */
 @media screen and (max-width: 576px) { 

    h1{
        font-size: 45px;
        margin-top: 5px; 
        margin-bottom: 15px;;
  }
}